:root {
  --primaryColor: #264c73;
  --secondaryColor: #5adbff;
  --mainLightColor: #f6f6f8;
  --mainDarkColor: #0d1a27;
  --mainContrastColor: #fe9000;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainLightColor) !important;
  color: var(--mainDarkColor) !important;
  overflow-x: hidden;
}

.text-title {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

.text-blue {
  color: var(--primaryColor);
}

.text-bright {
  color: var(--secondaryColor);
}

.btn-dark {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDarkColor);
  border: 0.1rem solid var(--mainDarkColor) !important;
  border-radius: 0 !important;
  cursor: pointer;
}

.btn-dark:hover {
  background: var(--mainDarkColor);
  color: var(--mainLightColor);
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainContrastColor);
}
