:root {
  --mainBlue: #264c73;
  --lightBlue: #81a8d1;
  --mainWhite: #e4e3e8;
  --mainDark: #152639;
  --mainYellow: #d7a362;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
